body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.17;
  color: #757575;
}

* {
  outline: 1px solid red;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
Li {
  list-style: none;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.title-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.client h2, .team h2, .work h2 {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 1.08px;
  color: #212121;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .client h2, .team h2, .work h2 {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.footer__registration h2, .footer__network h2 {
  font-weight: 700;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer__network ul, .client__list, .team__list, .work__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__icon, .team__icon {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icon svg, .team__icon svg {
  display: block;
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.footer__icon:focus, .team__icon:focus, .footer__icon:hover, .team__icon:hover {
  background-color: #2196f3;
  color: #ffffff;
}

textarea:focus, textarea:hover, .modalForm__input:focus, .modalForm__input:hover {
  border: 1px solid #2196f3;
  cursor: pointer;
}

.header {
  border-bottom: 1px solid #ECECEC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }
}
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-nav li {
  margin-right: 50px;
}
.site-nav li:last-child {
  margin-right: 0;
}

.site-nav__link {
  font-weight: 500;
  letter-spacing: 0.28px;
  line-height: 1.17;
  color: #212121;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.site-nav__link:focus, .site-nav__link:hover {
  color: #2196f3;
}
.site-nav__link.current {
  color: #2196f3;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #2196f3;
}

.auth-nav {
  margin-left: auto;
}
.auth-nav p {
  margin-left: 10px;
}

.auth-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  letter-spacing: 0.28px;
  line-height: 1.17;
  color: #757575;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__link:focus, .auth-nav__link:hover {
  color: #2196f3;
}

.auth-nav__icon {
  stroke: currentColor;
  fill: currentColor;
}

.auth-nav__icon--envelope {
  width: 16px;
  height: 12px;
}

.auth-nav__icon--smartphone {
  width: 10px;
  height: 16px;
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-right: 0;
  }
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .auth-nav__link:not(:last-child) {
    margin-right: 30px;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  z-index: 22;
  background-color: #ffffff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle {
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  padding: 0;
  background-color: #ffffff;
}

.menu__batton {
  width: 40px;
  height: 40px;
  display: block;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.button-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ffffff;
}
.button-toggle:hover {
  cursor: pointer;
}
.button-toggle:hover .button-toggle__icone {
  fill: #2196f3;
}

.button-toggle__icone {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu {
  margin-bottom: 302px;
}
.mob-menu li {
  margin-bottom: 35px;
}
.mob-menu li:last-child {
  margin-bottom: 0;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.8;
  line-height: 1.17;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__link:focus, .mob-menu__link:hover {
  color: #2196f3;
}
.mob-menu__link.current {
  color: #2196f3;
}

.mob-menu__tel {
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 0.68;
  line-height: 1.17;
  color: #2196f3;
  margin-bottom: 32px;
}

.mob-menu__mail {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.48;
  line-height: 1.17;
  color: #757575;
  margin-bottom: 64px;
}

.mob-menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mob-menu__social li {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-menu__social li a {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.36;
  line-height: 1.22;
  color: #2196f3;
}
.mob-menu__social li:first-child {
  padding-left: 0;
}
.mob-menu__social li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  line-height: 1.17;
}

.header-logo {
  color: #000000;
  margin-right: 93px;
}

.footer-logo {
  display: block;
  color: #ffffff;
  margin-right: 0;
  margin-bottom: 20px;
}

.logo__span {
  color: #2196f3;
}

.hero-section {
  background: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/back-mob.jpg);
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/back-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/back-mobx2.jpg);
    background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/back-mobx2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    background: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/back-tabl.jpg);
    background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/back-tabl.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/back-tablx2.jpg);
    background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/back-tablx2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    background: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/back-img.jpg);
    background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/back-img.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/back-imgx2.jpg);
    background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/back-imgx2.jpg);
  }
}
@media screen and (min-width: 1600px) {
  .hero-section {
    background-size: 1600px;
  }
}
.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 2.64px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero__button {
  display: inline-block;
  cursor: pointer;
  padding-right: 24px;
  padding-left: 24px;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero__title {
    font-size: 44px;
  }
  .hero__button {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.button {
  color: #ffffff;
  background-color: #2196f3;
  border: 0px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.feature {
  padding-top: 60px;
  padding-bottom: 60px;
}

.feature__link {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.feature__link h3 {
  font-weight: 700;
  letter-spacing: 0.42px;
  color: #212121;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.feature__link p {
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: left;
}
.feature__link p:last-child {
  margin-bottom: 0;
}

.feature__icon {
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feature__icon svg {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .feature__link {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-left: 0;
    margin-right: 0;
  }
  .feature__link:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .feature__link {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
    margin-bottom: 0;
  }
  .feature__link:nth-child(-n+2) {
    margin-bottom: 0;
  }
  .feature__link p {
    margin-bottom: 0;
  }
}
.work {
  padding-bottom: 94px;
}
.work__card li {
  position: relative;
}

.work__text {
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.42px;
  width: 370px;
  height: 70px;
  margin: 0;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  padding-top: 27px;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}
.team-section {
  background-color: #f5f4fa;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.team__card li {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}
.team__card li:last-child {
  margin-bottom: 0;
}

.team__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.team__info {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 24px;
}
.team__info h3 {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.48px;
  color: #212121;
  margin-top: 0;
  margin-bottom: 10px;
}
.team__info p {
  font-size: 16px;
  letter-spacing: 0.48px;
  margin-top: 0;
  margin-bottom: 16px;
}

.team__list {
  padding-left: 122px;
  padding-right: 122px;
}
.team__list li {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .team__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team__card li:nth-last-child(2) {
    margin-bottom: 0;
  }
  .team__card > li {
    -ms-flex-preferred-size: 354px;
        flex-basis: 354px;
  }
  .team__list {
    padding-left: 74px;
    padding-right: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team__card > li {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
    margin-bottom: 0;
  }
  .team__list {
    padding-left: 32px;
    padding-right: 32px;
  }
  .team__info {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.client {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.client__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.client__list > li {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}

.client__list > li:nth-child(-n+4) {
  margin-bottom: 30px;
}

.client__icon {
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__icon svg {
  display: block;
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.client__icon:focus, .client__icon:hover {
  border: 1px solid #2196f3;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .client__list > li {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
  .client__list > li:nth-child(n+4) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .client__list > li {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
  .client__list > li:nth-child(-n+4) {
    margin-bottom: 0;
  }
}
footer {
  background-color: #2f303a;
  text-align: center;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__position {
  margin-bottom: 60px;
}

.adress li {
  margin-bottom: 9px;
}
.adress li:last-child {
  margin-bottom: 0;
}

.adress__link {
  line-height: 1.71;
  letter-spacing: 0.42px;
  color: #757575;
  font-style: normal;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__link:focus, .adress__link:hover {
  color: #ffffff;
}

.footer__network {
  margin-bottom: 60px;
}
.footer__network ul {
  width: 206px;
  margin-left: auto;
  margin-right: auto;
}

.footer__icon {
  background-color: #45454a;
}

.footer__form input {
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 20px;
}
.footer__form [placeholder] {
  color: #ffffff;
  padding-left: 16px;
  display: block;
  height: 50px;
}

.button--footer {
  margin-left: auto;
  margin-right: auto;
  padding-left: 28px;
  padding-right: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button--footer svg {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__registration {
    width: 100%;
    margin-left: 160px;
    margin-right: 160px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: start;
  }
  .footer__position {
    margin-bottom: 0;
  }
  .footer__network {
    margin-bottom: 0;
  }
  .footer__registration {
    width: 50%;
    margin-left: 0;
    margin-right: 0;
  }
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__form input {
    min-width: 358px;
    margin-bottom: 0;
  }
  .button--footer {
    margin-left: auto;
    margin-right: 0;
  }
}
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  max-width: 340px;
}

.filter > li:nth-child(-n+3) {
  margin-bottom: 15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.filter__button {
  display: block;
  padding: 6px 22px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.48px;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  margin-right: 8px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:focus, .filter__button:hover {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter li:nth-child(3) .filter__button {
  margin-right: 0;
}

.filter__button--last {
  margin-right: 0;
}

.card__link {
  width: 100%;
  margin-bottom: 30px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:focus, .card__link:hover {
  cursor: pointer;
  border: 1px solid #EEEEEE;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card__link:focus .card__overlay, .card__link:hover .card__overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.card__link:nth-last-child {
  margin-bottom: 0;
}

.card__vision {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.54px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__overlay p {
  margin: auto;
}

.card__content {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.card__content h2 {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
  color: #212121;
}
.card__content p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.48px;
}

@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 100%;
  }
  .filter > li:nth-child(-n+3) {
    margin-bottom: 0px;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card__link {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .card__link:nth-last-child(1) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .filter {
    margin-bottom: 50px;
  }
  .card__link {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
  .card__link:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5) rotate(-180deg);
          transform: translate(-50%, -50%) scale(0.5) rotate(-180deg);
  -webkit-transition: scale 200ms;
  transition: scale 200ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(0);
          transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 320px;
  min-height: 609px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
.modal p {
  margin: 40px 40px 30px 40px;
  font-size: 20px;
  font-weight: 700;
  color: #212121;
  line-height: 1.172;
  letter-spacing: 0.6px;
  text-align: center;
}

.close-batton {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.close-batton:hover {
  cursor: pointer;
}
.close-batton:hover .close-batton__icone {
  fill: #2196f3;
}

.close-batton__icone {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modalForm {
  margin-left: 40px;
  margin-right: 40px;
}

.modalForm__field {
  position: relative;
  display: block;
}
.modalForm__field:not(:nth-child(4)) {
  margin-bottom: 28px;
}

.modalForm__label {
  font-size: 12px;
  color: #757575;
  line-height: 1.172;
  letter-spacing: 0.12px;
  position: absolute;
  top: -18px;
}

.modalForm__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modalForm__icone {
  position: absolute;
  left: 12px;
  top: 11px;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modalForm__input:focus + .modalForm__icone,
.modalForm__input:hover + .modalForm__icone {
  fill: #2196f3;
}

textarea {
  resize: none;
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox__input:checked + .checkbox__icone {
  background-color: #2196f3;
  background-origin: border-box;
  border: 2px solid #2196f3;
}

.checkbox__icone {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 4px;
  margin-right: 7px;
}

.checkbox__link {
  text-decoration: underline;
  color: #2196f3;
  margin-left: 5px;
}

.button--modal {
  display: block;
  padding-left: 52px;
  padding-right: 52px;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button--modal:focus, .button--modal:hover {
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .modal {
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
  .checkbox {
    font-size: 14px;
  }
}/*# sourceMappingURL=main.css.map */