.client {
    @include padding(60px);
    text-align: center;

    h2 {
        @extend %header;
    }
}

.client__list {
    @extend %position;
    flex-wrap: wrap;
}

.client__list>li {
    flex-basis: calc((100% - 30px)/2);
}

.client__list>li:nth-child(-n + 4) {
    margin-bottom: 30px;
}

.client__icon {
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: getColor('icon');
    border: 1px solid getColor('icon');
    border-radius: 4px;
    transition: border 250ms $timingFunction, color 250ms $timingFunction;

    svg {
        display: block;
        width: 106px;
        height: 60px;
        fill: currentColor;
    }

    &:focus,
    &:hover {
        border: 1px solid getColor('brend');
        color: getColor('brend');
    }
}

@media screen and (min-width: 768px){
    .client__list>li {
        flex-basis: calc((100% - 60px)/3);

        &:nth-child(n + 4) {
            margin-bottom: 0;
        }
    }
}

@media screen and (min-width: 1200px) {
    .client {
        @include padding(94px);
    }

    .client__list>li {
        flex-basis: calc((100% - 150px)/6);
    }

    .client__list>li:nth-child(-n + 4) {
        margin-bottom: 0;
    }
}

