
.feature {
    @include padding(60px);
    
}

.feature__link {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   

    h3 {
        font-weight: 700;
        letter-spacing: 0.42px;
        color: getColor('title');
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 10px;
    }

    p {
        line-height: 1.71;
        letter-spacing: 0.42px;
        margin-top: 0;
        margin-bottom: 30px;
        text-align: left;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
    

.feature__icon {
    height: 120px;
    background-color: getColor('background');
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 70px;
        height: 70px;
    }
}



@media (min-width: 768px) {
    .feature {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .feature__link {
        flex-basis: calc((100% - 60px)/2);
        margin-left: 0;
        margin-right: 0;

        &:nth-child(-n+2) {
            margin-bottom: 30px;
        }
    }
}


@media (min-width: 1200px) {
    .feature {
        @include padding(94px);
    }

    .feature__link {
        flex-basis: calc((100% - 90px)/4);
        margin-bottom: 0;

        &:nth-child(-n+2) {
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;
        }
    }
}