.header {
    border-bottom: 1px solid getColor('borderHeader');
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    flex-grow: 1;
}

// nav {
//     display: flex;
// }

@media (max-width: 767px) {
    .header__menu {
        display: none;
    }
}


// navigation

.site-nav {
    display: flex;
    
    li {
        margin-right: 50px;
    }
    
    & li:last-child {
        margin-right: 0;
    }
}

.site-nav__link {
    font-weight: 500;
    letter-spacing: 0.28px;
    line-height: 1.17;
    color: getColor('title');
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms $timingFunction;
    position: relative;
    flex-grow: 1;

    &:focus,
    &:hover {
        color: getColor('brend');
    }

    &.current {
        color: getColor('brend');
    }
}

.current::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: getColor('brend');
}



// authentication

.auth-nav {
    margin-left: auto;

    p {
    margin-left: 10px;
    }
}

.auth-nav__link {
    display: flex;
    font-weight: 500;
    letter-spacing: 0.28px;
    line-height: 1.17;
    color: getColor('text');
    align-items: center;
    transition: color 250ms $timingFunction;

    // &:not(:last-child) {
    //     margin-right: 30px;
    // }

    &:focus,
    &:hover {
        color: getColor('brend');
    }
}

.auth-nav__icon {
    stroke: currentColor;
    fill: currentColor;
}

.auth-nav__icon--envelope {
    width: 16px;
    height: 12px;
}

.auth-nav__icon--smartphone {
    width: 10px;
    height: 16px;
}

@media (min-width: 1200px) {
    .site-nav {
        margin-right: 0;
    }

    .auth-nav {
        display: flex;
    }

    .header {
        justify-content: space-between;
    }

    .auth-nav__link:not(:last-child) {
        margin-right: 30px;
    }
}