.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-left: 40px;
    z-index: 22;
    background-color: getColor('button');

    transform: translateX(100%);
}

.menu-container.is-open {
    transform: translateX(0);
    transition: transform 250ms $timingFunction;
}

.menu-toggle {
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    padding: 0;
    background-color: getColor('button');
}

.menu__batton {
    width: 40px;
    height: 40px;
    display: block;
}


@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}
