.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms $timingFunction;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        transition: opacity 200ms $timingFunction;
    
        & .modal {
            transform: translate(-50%, -50%) scale(0.5) rotate(-180deg);
            transition: scale 200ms;
        }
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);

    width: 450px;
    min-height: 609px;

    background-color: getColor('button');

    transition: transform 300ms;

    p {
        margin: 40px 40px 30px 40px;
        font-size: 20px;
        font-weight: 700;
        color: getColor('title');
        line-height: 1.172;
        letter-spacing: 0.6px;
        text-align: center;
    }
}


// close-batton

.close-batton {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: cursor 250ms $timingFunction;
    display: flex;

    &:hover {
        cursor: pointer;

        & .close-batton__icone {
            fill: getColor('brend');
        }
    }
}

.close-batton__icone {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: fill 250ms $timingFunction;
}


// modal-form

.modalForm {
    margin-left: 40px;
    margin-right: 40px;
}


.modalForm__field {
    position: relative;
    display: block;

    &:not(:nth-child(4)) {
        margin-bottom: 28px;
    }
}

.modalForm__label {
    font-size: 12px;
    color: getColor('text');
    line-height: 1.172;
    letter-spacing: 0.12px;
    
    position: absolute;
    top: -18px;
}

.modalForm__input {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 35px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms $timingFunction, cursor 250ms $timingFunction;

    &:focus,
    &:hover {
        @extend %formBorder;
    }
}

.modalForm__icone {
    position: absolute;
    left: 12px;
    top: 11px;
    width: 18px;
    height: 18px;
    transition: fill 250ms $timingFunction;
}

.modalForm__input:focus+.modalForm__icone,
.modalForm__input:hover+.modalForm__icone {
    fill: getColor('brend');
}

textarea {
    resize: none;
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    transition: border 250ms $timingFunction, cursor 250ms $timingFunction;

    &:focus,
    &:hover {
        @extend %formBorder;
    }
}

.checkbox {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    font-size: 12px;
}

.checkbox__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.checkbox__input:checked+.checkbox__icone {
    background-color: getColor('brend');
    background-origin: border-box;
    border: 2px solid getColor('brend');
}

.checkbox__icone {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid getColor('logo');
    border-radius: 4px;
    margin-right: 7px;
}

.checkbox__link {
    text-decoration: underline;
    color: getColor('brend');
    margin-left: 5px;
}


.button--modal {
    display: block;
    padding-left: 52px;
    padding-right: 52px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

    transition: cursor 250ms $timingFunction;

    &:focus,
    &:hover {
        cursor: pointer;
    }
}

@media (min-width: 1200px) {
    .modal {
        min-width: 528px;
        min-height: 581px;
    }

    .checkbox {
        font-size: 14px;
    }
}