.team-section {
    background-color: getColor('background');
}


.team {
    @include padding(60px);
    text-align: center;

    h2 {
        @extend %header;
    }
}

.team__card {
    li {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.team__img {
    object-fit: cover;
}

.team__info {
    background-color: getColor('button');
    padding-top: 30px;
    padding-bottom: 24px;

    h3 {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.48px;
        color: getColor('title');
        margin-top: 0;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        letter-spacing: 0.48px;
        margin-top: 0;
        margin-bottom: 16px;
    }
}

.team__list {
    @extend %position;
    padding-left: 122px;
    padding-right: 122px;

    li {
        border: none;
        box-shadow: none;
        margin-bottom: 0
    }
}

.team__icon {
    @extend %icon;
}


@media screen and (min-width: 768px) {
    .team__card {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        & li:nth-last-child(2) {
            margin-bottom: 0;
        }

        &>li {
            flex-basis: calc((768px - 60px)/2);
        }
    }

    .team__list {
        padding-left: 74px;
        padding-right: 74px;
    }
}


@media screen and (min-width: 1200px) {
    .team {
        @include padding(94px);    
    }

    .team__card>li {
        flex-basis: calc((1200px - 120px)/4);
        margin-bottom: 0;
    }

    .team__list {
        padding-left: 32px;
        padding-right: 32px;
    }

    .team__info {
        @include padding(30px);
    }
}
